POSTGRES_USER=auction
POSTGRES_PASSWORD=auction
POSTGRES_DB=auction
POSTGRES_PORT=5432

RABBITMQ_DEFAULT_USER=auction
RABBITMQ_DEFAULT_PASS=auction
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672

REDIS_PORT=6379
